.Intro__actionsRow {
    display: flex;
    justify-content: center;
}

.Intro__actionsRow > button {
    margin-inline: 0.6em;
}

.Intro__summaryRow {
    display: flex;
    justify-content: space-around;
    margin-top: 5.8em;
    padding-inline: 7em;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.Intro__summaryRow > div {
    display: flex;
}

.Intro__summaryLeft {
    font-size: 1.8rem;
}

.Intro__summaryRight {
    display: flex;
    flex-flow: column;
    margin-top: 1em;
    margin-left: 1.5em;
}

.Intro__summaryRight > h3 {
    font-size: 1.3rem;
}

.Intro__summaryRight > p {
    font-family: 'Open Sans', sans-serif;
    padding-right: 5em;
    margin-block: 0.2em;
}