.form-element {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-block: 0.5rem;
    text-align: left;
}

.form-label {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Nunito, sans-serif;
    color: #414141;
}

input[type=checkbox]:checked ~ label {
    background: #e93d7c;
    color: white;
}

input[type=checkbox]:checked:hover ~ label {
    opacity: 0.8;
}

input[type=radio]:checked ~ label {
    color: #414141;
}

input[id=Basic]:checked ~ label:nth-child(2) {
    background: #2cbf7e;
}

input[id=Intermediate]:checked ~ label:nth-child(2) {
    background: #ffd058;
}

input[id=Advanced]:checked ~ label:nth-child(2) {
    background: #ffa90b;
}
