@import '../styles.scss';

.FancyButton {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    font-size: 1rem;
    padding: 1em 2em;

    @include font_Quicksand-Bold;

    &:hover {
        background-position: left;
    }

    &_typeSubmit {
        padding: 0.7em 1.7em;
        background: linear-gradient(to left, #67cfb8 50%, #203793 50%) right;
        background-size: 200%;
        color: #1c043f;
    
        &:hover {
            color: #67cfb8;
        }
    }

    &_typeCancel {
        padding: 0.7em 1.7em;
        background: linear-gradient(to left, #ebebeb 50%, #e93d7c 50%) right;
        background-size: 200%;
        color: #757575;
    }

    &:hover {
        color: white;
    }
}