@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Front {
    display: flex;
    flex-flow: column;
}

.Front__heading {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(90deg, rgba(82,17,170,1) 16%, rgba(147,35,165,1) 56%, rgba(240,66,158,1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    line-height: 1.5em;
}

.Front__intro-row {
    margin-top: 2.4em;
}

.Front__subjects-row {
    margin-top: 1.2em;
}