@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Front {
    display: flex;
    flex-flow: column;
}

.Front__heading {
    background-color: #6617cb;
    background-image: linear-gradient(90deg, #6617cb 0%, #cb218e 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    line-height: 1.5em;
}

.Front__introRow {
    margin-top: 2.4em;
}

.Front__subjectsRow {
    margin-top: 1.2em;
}