@import '../../common/styles.scss';

.Modal {
    width: 30rem;
    padding: 1.4em 1.9em;
    border-radius: 0.5rem;
    background: white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        margin: 0;
        text-align: left;
        font-size: 1.6rem;
        color: #e93d7c;
        @include font_Quicksand-Bold;
    }

    &__closeButton {
        border: none;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        font-size: 1.1rem;
        background: none;
        color: #757575;
        cursor: pointer;

        &:hover {
            background: #ebebeb;
        }
    }

    &__body {
        margin-block: 1.1em 0.5em;
    }
}

.OverviewForm {
    &__element {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-block: 0.7em;
        text-align: left;
        color: #414141;
        @include font_Nunito-Medium;

        & > label {
            margin-bottom: 0.5em;
            padding-left: 0.9em;
            font-size: 1rem;
        }

        & > input[type=text] {
            padding: 0.7em 0.8em;
            border: none;
            border-radius: 0.5rem;
            background: #ebebeb;
            font-size: 1.1rem;
            color: #e93d7c;
            @include font_Quicksand-Medium;
        }

        ::placeholder {
            @include font_Nunito-Medium;
        }
    }

    &__hint {
        display: none;
        margin-top: 0.35em;
        font-size: 0.9rem;
        color: #ec0b43;
    }
}

.OverviewForm__subjects {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.9rem;
    color: white;
    @include font_Quicksand-Medium;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        color: #e93d7c;
        cursor: pointer;
        @include font_Quicksand-Bold;

        &:hover {
            opacity: 0.8;
        }
    }
}

.OverviewForm__subjectItem {
    &Name {
        display: flex;
        margin: 0.2em;
        padding: 0.4em 0.8em;
        border-radius: 5em;
        background: #ebebeb;
        color: #757575;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-out;
    }

    &Name:hover {
        color: #757575b0;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked ~ &Name {
        background: #e93d7c;
        color: white;
    }

    input[type=checkbox]:checked:hover ~ &Name {
        opacity: 0.8;
    }
}

.OverviewForm__levels {
    display: flex;
    justify-content: space-between;
    padding: 0.4em 1em;
    @include font_Quicksand-Medium;
}

.OverviewForm__levelItem {
    display: flex;
    flex-flow: column;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }

    &Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.2em;
        height: 2.2em;
        background: #ebebeb;
        font-size: 1.8rem;
    }

    &Name {
        margin-top: 0.5em;
        font-size: 0.9rem;
        color: #757575;
    }

    &Icon, &Name {
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    input[type=radio] {
        display: none;
    }

    input[type=radio]:checked ~ .OverviewForm__levelItemName {
        color: #414141;
    }

    input[id=Basic]:checked ~ .OverviewForm__levelItemIcon {
        background: #2cbf7e;
    }

    input[id=Intermediate]:checked ~ .OverviewForm__levelItemIcon {
        background: #ffd058;
    }

    input[id=Advanced]:checked ~ .OverviewForm__levelItemIcon {
        background: #ffa90b;
    }
}

.OverviewForm__actions {
    display: flex;
    justify-content: flex-end;
    margin-block: 1.5em 0;

    & > button:first-child {
        margin-right: 0.55em;
    }
}