@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

@mixin font_Quicksand-Bold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

@mixin font_Quicksand-Medium {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

@mixin font_Raleway-Regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@mixin font_Raleway-Medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

@mixin font_Nunito-Medium {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

$color-hotpink: #e93d7c;
$color-dark: #414141;
$color-darkgray: #757575;
$color-gray: #ebebeb;
$radius-small: 0.5rem;
