@import '../common/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.QuizPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Modal {
    padding: 1.5em 1.9em;
    border-radius: 0.5rem;
    width: 30rem;
    background: white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        margin: 0;
        text-align: left;
        font-size: 2rem;
        color: #e93d7c;
        @include font_Quicksand-Bold;
    }

    &__body {
        margin-block: 1.1em 0.5em;
    }
}

.createForm {
    &__element {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-block: 0.75em;
        text-align: left;
        color: #414141;
        font-family: 'Nunito', sans-serif;

        & > label {
            margin-bottom: 0.55em;
            padding-left: 0.8em;
            font-size: 1.1rem;
        }

        & > input[type=text] {
            padding: 0.7em 1em;
            border: none;
            border-radius: 0.5rem;
            background: #ebebeb;
            font-size: 1.15rem;
            color: #e93d7c;
            @include font_Quicksand-Medium;
        }
        ::placeholder {
            font-family: 'Nunito', sans-serif;
        }
    }
}

.createForm__subjects {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.9rem;
    color: white;
    @include font_Quicksand-Medium;
}

.createForm__subjectItem {
    @mixin common($background, $color) {
        margin: 0.2em;
        padding: 0.4em 0.8em;
        border-radius: 5em;
        background: $background;
        color: $color;
        cursor: pointer;
        user-select: none;
    }

    @include common(#ebebeb, #757575);

    &:hover {
        color: #757575b0;
    }

    &_selected {
        @include common(#e93d7c, white);
    
        &:hover {
            opacity: 0.9;
            color: white;
        }
    }
}

.createForm__levels {
    display: flex;
    justify-content: space-between;
    padding: 0.65em 1em;
    @include font_Quicksand-Medium;
}

.createForm__levelItem {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;

    @mixin common($background, $color) {
        & > div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 2.2em;
            height: 2.2em;
            background: $background;
            font-size: 1.8rem;
        }

        & > div:nth-child(2) {
            margin-top: 0.5em;
            font-size: 0.9rem;
            color: $color;
        }
    }

    @include common(#ebebeb, #757575);

    &:hover {
        color: #757575b0;
    }

    &_selectedBasic {
        @include common(green, #414141);
    }

    &_selectedIntermediate {
        @include common(orange, #414141);
    }

    &_selectedAdvanced {
        @include common(red, #414141);
    }
}

.createForm__actions {
    display: flex;
    justify-content: flex-end;
    margin-block: 1.5em 0;

    & > button:first-child {
        margin-right: 0.55em;
    }
}