@import '../common/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.QuizPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
