@import '../common/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.QuizPanel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10%;
    height: 100vh;
}

.RightBar {
    align-self: flex-end;
}

.OverviewSection {
    display: flex;
    flex-flow: column;
    padding: 1em;
    border-radius: $radius-small;
    background: white;
    text-align: left;
    @include font_Quicksand-Medium;

    &__image {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 2.5rem 4rem;
        border: 2px dashed $color-gray;
        border-radius: 0.3rem;
        color: $color-darkgray;
        cursor: pointer;
        @include font_Nunito-Medium;

        i {
            margin-bottom: 1em;
            font-size: 2rem;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: $color-hotpink;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border: 0.5px solid $color-darkgray;
            height: 25px;
            border-radius: 0.3rem;
            color: $color-dark;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
