.Quizzes__heading {
    font-family: 'Quicksand', sans-serif;
    background-color: #6617cb;
    background-image: linear-gradient(90deg, #6617cb 0%, #cb218e 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Quizzes__collection {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 7em;
}

.Quizzes__collectionItem {
    border-radius: 15px;
    background: rgb(112,47,200);
    background: linear-gradient(324deg, rgba(112,47,200,1) 10%, rgba(175,64,194,1) 90%);
    text-align: left;
    padding-inline: 1.8em;
    color: white;
}

.Quizzes__collectionItemHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
    margin-block: 1.4em 0.5em;
}

.Quizzes__collectionItemHeader > h2 {
    margin-block: 0;
}

.Quizzes__collectionItemHeader > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ec9547 0%, #c97828 100%);
    color: #5211aa;
    padding-inline: 1em;
    width: 6em;
    border-radius: 5px;
}

.Quizzes__collectionItemHeader > h4 {
    margin-block: 0.9em;
}

.Quizzes__collectionItem > p {
    font-family: 'Open Sans', sans-serif;
    margin-block: 0 2.5em;
}
